/*
Colors used:
Primary Color ("Maximum Yellow Red"/mustard): #ffbd59
Secondary Color ("Metallic Sunburst"/yellow brown): #af8340
Background color ("Cornsilk"/beige): #fff8dc;
Alt bg color ("Ivory"): #fffff0
Text color (Black): #000000
2nd text color (Dark Grey): #333333
*/
header {
  background-color: #fffff0;
  text-align: center;
  padding: 0px 10px 0px 0px;
  margin: 0px 10px 0px 0px;
  border-bottom: 3px solid #fffff0;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
  position: relative;
}

/* why doesn't box sizing go before the header? */
* {
  box-sizing: border-box;
}

body {
  background-color: #fff8dc;
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #000000;
}

img {
  width: 100%;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  color: #333333;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

h5 {
  font-size: 1.15em;
  font-weight: 300;
}

/* What's a good size calculator and how to figure out scales/etc.? */
a {
  color: #af8340;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link, same color for now */
  color: #af8340;
}

a:hover,
a:focus {
  color: #ffbd59;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #ffffff;
}

.button {
  /* rmb this rule stays at the END of this doc lest it be overwritten by other less specific rules */
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ffbd59;
  color: #333333;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #af8340;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
  color: #ffffff
}

.button:active {
  opacity: 0.8;
  text-decoration: none;
}

.button.email {
  background-color: transparent;
  color: #af8340;
  text-transform: uppercase;
  border: 2px solid #af8340;
}

.button.email:hover {
  background-color: #ffbd59;
  color: #ffffff;
  border: #ffbd59
}

.button.email:active {
  opacity: 0.8;
  text-decoration: none;
}

/* Layout styling */
.center {
  text-align: center
}
.container {
  padding: 0 20px
}

.logo {
  max-width: 250px;
}

.me {
  max-width: 100px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
  width: 100%;
}

/* Are these 3 supposed to be separated? ADD states once I find out? */
nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffff00;
  /* test color; the color did nothing */
}

#hero h1 {
  text-align: center;
}

#otitle {
  text-align: center;
}

#work {
  padding-bottom: 25px;
  border-bottom: 2px solid #af8340;
}

/* I wonder if the length of the border across the screen can be adjusted or if it has to be an hr element */
/* I guess my real q right here is how I can make the border bottom adhere to the width of its parent (?) */
#o {
  padding-bottom: 25px;
  border-bottom: 2px solid #af8340;
}

/* WAIITT THIS ONE ADHERES TO THE PARENT WIDTH WHAT */

#linkedin {
  padding-top: 25px;
}
