/*
Colors used:
Background color ("Cornsilk"/beige): #FFF8DC;
Alt bg color ("Ivory"): #FFFFF0
Text color (Black): #000000
2nd text color (Dark Grey): #333333
*/

body {
  background-color: #FFF8DC;
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  font-weight: 300
  line-height: 1.6
  color: #000000
}
