/*
Colors used:
Primary Color ("Maximum Yellow Red"/mustard): #ffbd59
Secondary Color ("Metallic Sunburst"/yellow brown): #af8340
Background color ("Cornsilk"/beige): #fff8dc;
Alt bg color ("Ivory"): #fffff0
Text color (Black): #000000
2nd text color (Dark Grey): #333333
*/
header {
  background-color: #fffff0;
  text-align: center;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  border-bottom: 3px solid #fffff0;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
  position: relative;
}

* { /* rmb universal selector */
  box-sizing: border-box;
}

body {
  background-color: #fff8dc;
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #000000;
}

img {
  width: 100%;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  color: #333333;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

h5 {
  font-size: 1.15em;
  font-weight: 300;
}

/* What's a good size calculator and how to figure out scales/etc.? */
a {
  color: #af8340;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link, same color for now */
  color: #af8340;
}

a:hover,
a:focus {
  color: #ffbd59;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #ffffff;
}

.button {
  /* rmb this rule stays at the END of this doc lest it be overwritten by other less specific rules */
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ffbd59;
  color: #333333;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #af8340;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
  color: #ffffff
}

.button:active {
  opacity: 0.8;
  text-decoration: none;
}

.button.email {
  background-color: transparent;
  color: #af8340;
  text-transform: uppercase;
  border: 2px solid #af8340;
}

.button.email:hover {
  background-color: #ffbd59;
  color: #ffffff;
  border: 2px solid #ffbd59;
}

.button.email:active {
  opacity: 0.8;
  text-decoration: none;
}

/* Layout styling */
.center {
  text-align: center;
}

.container {
  padding: 0 20px
}

.logo {
  max-width: 250px;
}

.me {
  max-width: 100px;
}

nav>ul {
  list-style-type: none;
  padding: 50px 0 0 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: ##af8340;
  /* test color; the color did nothing: actually it did do something i just couldn't see it so revert to same color */
}

#hero {
  background-color: #fffff0;
  padding: 20px 0;
}

#hero h1, #hero p {
  text-align: center;
}

#hero span {
  display: block;
}

#about-page h3 {
  margin-top: 0;
  margin-bottom: 0;
  } /* Why'd it only move "Tools I Use?" */

#otitle {
  text-align: center;
}

#work, #o, #about {
  padding-bottom: 25px;
  border-bottom: 2px solid #af8340;
}

#project1 {
  border-bottom: 2px solid #af8340; /* Why does it do the weird half line at the top?? */
}

#project2 {
  padding: 25px 0 0 0;
}

#linkedin {
  padding-top: 25px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav { /* Not important, but what if I want it to sit immediately to the right of the logo? not at the far right of the screen? */
    width: auto;
    float: right; /* Actually, how would I make it sit at the bottom of the nav bar? Just add top padding? */
  }

  p {
    font-size: 20px;
  }

  .col-md-6{ /* Where did that half line come from above "Health App - Olive"? */
    width: 50%;
  }

  [class*="col-"]{
    float:left;
    padding: 0 10px 0 0;
  }

  .row::after{ /* this didn't fix anything for me? i can't tell if there's a problem */
    content: "";
    clear: both;
    display: table;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  [class*="col-"]{
    float:left;
    padding: 0 10px 0 0;
  }

  .row::after{ /* this didn't fix anything for me either? */
    content: "";
    clear: both;
    display: table;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
/* How can I change the font to be bigger without messing with the default screen? Unless this is the "default" screen?? (how I usually see the site in my chrome browser) */
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {

}
